@font-face {
    font-family: gotham;
    src: url(../media/Gotham-Bold.otf);
}
  
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: #000;
    font-family: gotham;
}

@import 'background';

@import 'front-page';

@import 'works-page';




@media (max-width: 470px){
    #front-page__header__text {
        color: #fff;
        font-size: 0.9em;
        text-align: center;
        padding-top: 14px;
        animation: below-appear 4s ease-out ;
    }
}

@media (max-width: 1200px) {

    #works-page {
        overflow-y: auto;
    }

    #works-page__title__text {
        font-size: 1.1em;
        max-width: 250px
    }
    
    #works-page__works {
        padding: 30px 20px;
        position: relative;
        flex-direction: column;
    }

    .works-page__works__work {
        justify-content: center;
    }
}
